* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
header{
    margin-top: 5px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.Logo{
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 35rem;
    font-size:  2rem;
    color: #ffffff;
    font-weight: 800;
    cursor: pointer; 
}

button.Login{
    display: inline-block;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    margin: 20px;
    color: #fff;
    background-color: #007bff;
    margin-left: 5rem;
    border: 2px,rgb(0, 0, 0);
    border-radius: 10px;
    text-decoration: none;
}
.Login{
    margin-left: 1rem;
    color: rgb(0, 21, 255);
    cursor: pointer;
}
.Menu{

    font-size: 1.9rem;
    color: rgb(0, 0, 0);
    margin-left: 20rem;
    font-weight: 50px;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;

}
input.log-input{
    text-align: left;
    width: 300px;
    height: 40px;
    padding: 20px 20px;
   
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: inset 0 2px 4px rgba(255, 255, 255, 0.1);
}
.image{
    /* background-color: #000000; opacity:0.6; */
    width: 100%;
    height: 120vh;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('1.jpg');
}
.get-info{
    margin-top: 2rem;
}
.image-overlay{
    width: 100%;
    height: 120vh;
    background-color: rgba(0, 0, 0, 0.6);
}

.form-login {
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* text-align: center; */
    width: 400px;
    height: 500px;
    margin-top: 30px;
    margin-left: 30rem;
    position: relative;
    /* left: 30px; */
    text-align: center;
    align-items: center;
}
.home-con{
    position: relative;
}
.user-box{
    margin-bottom: 20px;
    margin-top: 0px;
    /* align-items: center; */
}

h2{
    align-items: center;
    
}
.user-box label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    margin-left: 30px;
    text-align: left;
}

.user-box input{
    margin-bottom: 10px;
}
.log-buttonnextpage{
    display: inline-block;
    border-radius: 5px;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    /* margin: 20px; */
    color: #fff;
    width: 300px;
    background-image: linear-gradient(#295CCC,#152E66);
    border: none;
    border-radius: 38px;
    text-decoration: none;
    
}
.forget{
    color: black;
    text-align: right;
    margin-left: 180px;

    margin-top: 20px;
    bottom: 10px;
}
.Login-bt{
    display: inline-block;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 20px;

    /* font-size: 16px;
    
    color: #fff;
    width: 300px;
    background-color: black;
    border: none;
    border-radius: 38px;
    text-decoration: none; */
}
.forget{
    color: black;
    text-align: right;
    margin-left: 180px;
    bottom: 10px;
}
.contentbar{
    left: 20rem;
    color: white;
    font-size: 20px;
    padding: 10px;
}
.add{
    position: relative;
    margin-top: 2rem;
    text-align-last: left;
    font-size: 60px;
    color: aliceblue;
    font-size: 20px;
    margin-left: 35rem;
}