/* styles.css */

h1.dormexchange-title {
    font-size: 3rem;
}

h1.welcome-heading {
    font-size: 4rem;
}

p.welcome-text {
    font-size: 2.5rem;
}

.btn-login {
    font-size: 1.5rem;
}

.btn-learn-more {
    font-size: 2rem;
}
