{% extends 'myweb/base.html' %}

{% block title %}
ติดต่อ
{% endblock %}

{% block background_style %}
background-color: #ffffff;
{% endblock %}

{% block content %}
<div class="container mt-5 vh-50">
    <h2 class="text-center">ติดต่อเรา</h2>
    <p class="text-center">หากคุณมีคำถามหรือข้อสงสัย อย่าลังเลที่จะติดต่อเรา</p>

    <!-- Mailto Button -->
    <div class="text-center mt-4">
        <a target="_blank" href="mailto:Achitapol2017@hotmail.com" 
           class="btn btn-primary btn-lg">
           ส่งอีเมล
        </a>
    </div>
</div>
{% endblock %}
