{% extends 'myweb/base.html' %}

{% block title %}
เเก้ไขโพสต์การเป็นผู้ให้
{% endblock %}

{% block background_style %}
background-color: rgba(0, 0, 0);
{% endblock %}

{% load static %}


{% block content %}        
<div class="row justify-content-center"> <!-- Added this row for centering -->
    <div class="col-lg-6 col-md-8 col-sm-10"> <!-- Added responsive column classes -->
        <div class="card mt-3">
            <div class="card-header">
                <h2>เเก้ไขโพสต์การเป็นผู้รับ</h2>
            </div>
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                        <!-- Stuff Name -->
                        <div class="col-12 mb-3">
                            <label for="stuff_name" class="form-label">ชื่อสิ่งของ</label>
                            {{ form.stuff_name }}
                        </div>

                        <!-- Categories -->
                        <div class="col-12 mb-3">
                            <label for="categories" class="form-label">ประเภท</label>
                            {{ form.categories }}
                        </div>

                        <div class="row">                            
                            <!-- Description -->
                            <div class="col-12 mb-3">
                                <label for="description" class="form-label">รายละเอียด</label>
                                {{ form.description }}
                            </div>
                        </div>

                        <div class="row">
                            <!-- Defect -->
                            <div class="col-12 mb-3">
                                <label for="defect" class="form-label">ตำหนิ</label>
                                {{ form.defect }}
                            </div>

                            <!-- Place -->
                            <div class="col-12 mb-3">
                                <label for="place" class="form-label">สถานที่</label>
                                {{ form.place }}
                            </div>
                        </div>

                        <div class="row">
                            <!-- Date Limit -->
                            <div class="col-12 mb-3">
                                <label for="date_limit" class="form-label">วันครบกำหนด</label>
                                {{ form.date_limit }}
                            </div>
                        </div>

                        <!-- Save Changes Button -->
                        <div class="text-end">        
                            <button type="submit" class="btn btn-primary">บันทึกการเปลี่ยนแปลง</button>
                            <!-- Cancel -->
                            <a href="{% url 'post_history' user_profile.id %}" class="btn btn-secondary ms-3">ยกเลิก</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



{% endblock %}

{% block script %}

{% endblock %}