{% extends 'myweb/base.html' %}

{% load static %}

{% block title %}
หน้าหลัก
{% endblock %}

{% block background_style %}
background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('https://www.goodmove-th.com/images/editor/Blog/blog_6_1.jpeg'); 
background-size: cover;
background-repeat: no-repeat;
{% endblock %}

{% block styles %}

<link rel="stylesheet" href="{% static 'css/home.css' %}">

{% endblock %}

{% block content %}
    <div class="vh-100">
        <div class="container d-flex flex-column justify-content-end align-items-end text-end mt-5">
            <div class="col-12 col-md-8 col-lg-6">
                <h1 class="text-uppercase mb-3 text-white welcome-heading">ยินดีต้อนรับสู่</h1>
                <h1 class="word text-primary welcome-heading">Dorm<span class="text-warning">Exchange</span></h1>
                <p class="text-white welcome-text">คุณเคยเจอปัญหา.....</p>
            </div>
            
            <div class="col-12 col-md-4 col-lg-3 mt-4 d-flex justify-content-end">
                <a href="#"><button class="btn btn-primary rounded-pill px-4 py-2 btn-learn-more"><b>Learn more</b></button></a>
            </div>
        </div>
    </div>

{% endblock %}
