{% extends 'myweb/base.html' %}

{% load static %}
{% load form_tags %}

{% block title %}
ประวัติการโพสต์
{% endblock %}

{% block background_style %}
background-color: rgba(0, 0, 0);
{% endblock %}

{% block content %}
<div class="card mt-4">
    
    <div class="card-body">
        <h2>ประวัติการโพสต์</h2>
        <hr>
        <div class="mb-3">
            <h3>ประวัติการโพสต์ของการเป็นผู้บริจาค</h3>
        </div>
        <div class="row">
            {% for post in giver_posts %}
            <div class="col-md-12 col-lg-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        {% if post.stuff_picture%}
                        <img src="{{ post.stuff_picture.url }}" class="card-img-top" alt="{{ post.stuff_name }}" 
                        style="width: 200px; height: auto; display: block; margin: 0 auto;">
                        {% else %}
                        
                        {% endif %}
                        
                        <p class="card-text pt-3"><strong>ชื่อสิ่งของ:</strong> {{ post.stuff_name }}</p>
                        <p class="card-text"><strong>ประเภท:</strong> {{ post.categories }}</p>
                        <p class="card-text"><strong>รายละเอียด:</strong> {{ post.description }}</p>
                        <p class="card-text"><strong>ตำหนิ:</strong> {{ post.defect }}</p>
                        <p class="card-text"><strong>สถานที่:</strong> {{ post.place }}</p>
                        <p class="card-text"><strong>วันครบกำหนด:</strong> {{ post.date_limit|date_thai }}</p>
                        <p class="card-text"><strong>โพสต์เมื่อ:</strong> {{ post.created_at|date_thai }}</p>
                        <p class="card-text"><strong>สถานะการจับคู่:</strong>
                            {% if post.is_matched %}
                            แมตช์แล้ว 
                            <!-- Add a link to view match information -->
                                {% with matched_post=matched_post_giver|get_related_matches_giver:post.post_ID %}
                                    {% if matched_post %}
                                        <a href="{% url "match_info_giver" matched_post.match_ID %}" class="btn btn-info btn-sm ms-2 text-white">ดูข้อมูลการจับคู่</a>
                                    {% endif %}
                                {% endwith %}
                        {% else %}
                            ยังไม่แมตช์
                        {% endif %}
                        </p>
                        {% if post.is_matched %}
                            {% with matched_post=matched_post_giver|get_related_matches_giver:post.post_ID %}
                                {% if matched_post %}
                                    <p class="card-text"><strong>สถานะการยืนยันการให้:</strong> 
                                        {% if matched_post.is_giver_confirm %}
                                            ยืนยันการให้แล้ว
                                        {% else %}
                                            ยังไม่ยืนยัน
                                        {% endif %}
                                    </p>

                                    <p class="card-text"><strong>สถานะการยืนยันการรับ:</strong> 
                                        {% if matched_post.is_receiver_confirm %}
                                            ยืนยันการรับแล้ว
                                        {% else %}
                                            ยังไม่ยืนยัน
                                        {% endif %}
                                    </p>
                                {% endif %}
                            {% endwith %}
                        {% endif %}



                    {% if user.id == user_profile.user.id %}
                        <div class="d-flex justify-content-center justify-content-lg-end">
                            {% if not post.is_matched %}
                                <!-- Button to re-match the post -->
                                <a href="{% url 'results_giver' post.post_ID %}" 
                                class="btn btn-success me-3">จับคู่อีกครั้ง</a>
                            {% endif %}
                        
                            <!-- Edit button only for not matched -->
                            {% if not post.is_matched%}
                                <a href="{% url 'edit_giver_post' post.post_ID %}" class="btn btn-primary">เเก้ไข</a>
                            {% endif %}

                    
                            <!-- Confirmation button for matched posts -->
                            {% if post.is_matched %}
                                {% with matched_post=matched_post_giver|get_related_matches_giver:post.post_ID %}        
                                    {% if matched_post %}                            
                                        {% if not matched_post.is_giver_confirm %}
                                            <form action="{% url 'confirm_verification_giver' matched_post.match_ID %}" method="POST" class="d-inline">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-success">ยืนยันการให้</button>
                                            </form>
                                            <!-- Unmatch button for Giver -->
                                            <form action="{% url 'unmatch_post' post.post_ID 'giver' %}" method="POST" class="d-inline">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-warning ms-3">ยกเลิกการจับคู่</button>
                                            </form>   
                                        {% elif matched_post.is_giver_confirm %}

                                        {% endif %}
                                    {% endif %}
                                {% endwith %}
                            {% endif %}


                            <!-- Delete post form -->
                            <form action="{% url 'delete_giver_post' post.post_ID %}" method="POST" class="ms-3">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">ลบโพสต์</button>
                            </form>
                        </div>
                    {% endif %}
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="col-4 text-center mx-auto">
                <div class="alert alert-info">ไม่มีโพสต์</div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class="card mt-4">
    
    <div class="card-body">
        <h2>ประวัติการโพสต์</h2>
        <hr>
        <div class="mb-3">
            <h3>ประวัติการโพสต์ของการเป็นผู้รับบริจาค</h3>
        </div>
        <div class="row">
            {% for post in receiver_posts %}
            <div class="col-md-12 col-lg-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <p class="card-text pt-3"><strong>ชื่อสิ่งของ:</strong> {{ post.stuff_name }}</p>
                        <p class="card-text"><strong>ประเภท:</strong> {{ post.categories }}</p>
                        <p class="card-text"><strong>รายละเอียด:</strong> {{ post.description }}</p>
                        <p class="card-text"><strong>ตำหนิ:</strong> {{ post.defect }}</p>
                        <p class="card-text"><strong>สถานที่:</strong> {{ post.place }}</p>
                        <p class="card-text"><strong>วันครบกำหนด:</strong> {{ post.date_limit|date_thai }}</p>
                        <p class="card-text"><strong>โพสต์เมื่อ:</strong> {{ post.created_at|date_thai }}</p>
                        <p class="card-text"><strong>สถานะการจับคู่:</strong>
                            {% if post.is_matched %}
                                แมตช์แล้ว 
                                <!-- Add a link to view match information -->
                                {% with matched_post=matched_post_receiver|get_related_matches_receiver:post.post_ID %}
                                        {% if matched_post %}
                                            <a href="{% url "match_info_receiver" matched_post.match_ID %}" class="btn btn-info btn-sm ms-2 text-white">ดูข้อมูลการจับคู่</a>
                                        {% endif %}
                                    {% endwith %}
                            {% else %}
                                ยังไม่แมตช์
                            {% endif %}
                        </p>
                        {% if post.is_matched %}
                            {% with matched_post=matched_post_receiver|get_related_matches_receiver:post.post_ID %}
                                {% if matched_post %}
                                    <p class="card-text"><strong>สถานะการยืนยันการให้:</strong> 
                                        {% if matched_post.is_giver_confirm %}
                                            ยืนยันการให้แล้ว
                                        {% else %}
                                            ยังไม่ยืนยัน
                                        {% endif %}
                                    </p>

                                    <p class="card-text"><strong>สถานะการยืนยันการรับ:</strong> 
                                        {% if matched_post.is_receiver_confirm %}
                                            ยืนยันการรับแล้ว
                                        {% else %}
                                            ยังไม่ยืนยัน
                                        {% endif %}
                                    </p>
                                {% endif %}
                            {% endwith %}
                        {% endif %}


                    {% if user.id == user_profile.user.id %}
                        <div class="d-flex justify-content-center justify-content-lg-end">
                            {% if not post.is_matched %}
                                <!-- Button to re-match the post -->
                                <a href="{% url 'results_receiver' post.post_ID %}" 
                                class="btn btn-success me-3">จับคู่อีกครั้ง</a>
                            {% endif %}
                        
                            <!-- Edit button only for not matched -->
                            {% if not post.is_matched%}
                                <a href="{% url 'edit_receiver_post' post.post_ID %}" class="btn btn-primary">เเก้ไข</a>
                            {% endif %}

                    
                            <!-- Confirmation button for matched posts -->
                            {% if post.is_matched %}
                                {% with matched_post=matched_post_receiver|get_related_matches_receiver:post.post_ID %}
                                    {% if matched_post %}                            
                                        {% if not matched_post.is_receiver_confirm %}
                                            <form action="{% url 'confirm_verification_receiver' matched_post.match_ID %}" method="POST" class="d-inline">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-success">ยืนยันการรับ</button>
                                            </form>
                                            <!-- Unmatch button for Receiver -->
                                            <form action="{% url 'unmatch_post' post.post_ID 'receiver' %}" method="POST" class="d-inline">
                                                {% csrf_token %}
                                                <button type="submit" class="btn text-white btn-warning ms-3">ยกเลิกการจับคู่</button>
                                            </form>   
                                        {% elif matched_post.is_receiver_confirm %}

                                        {% endif %}
                                    {% endif %}
                                {% endwith %}           
                            {% endif %}
                            
                            <!-- Delete post form -->
                            <form action="{% url 'delete_receiver_post' post.post_ID %}" method="POST" class="ms-3">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">ลบโพสต์</button>
                            </form>
                        </div>
                    {% endif %}
                    
                    </div>
                </div>
            </div>
            {% empty %}
            <div class="col-4 text-center mx-auto">
                <div class="alert alert-info">ไม่มีโพสต์</div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% if user_profile.user.id == user.id %}
            <div class="mt-5 mb-4 text-end">
                <a href="{% url 'profile' request.user.profile.id %}" class="btn btn-secondary btn-lg px-4 py-2">กลับไปที่โปรไฟล์</a>
            </div>            
            {% else %}
            <div class="mt-5 mb-4 text-end text-white">
                <a href="javascript:history.back()" class="btn btn-secondary btn-lg">ย้อนกลับ</a>
            </div>
{% endif %}
{% endblock %}
