{% extends 'myweb/base.html' %}

{% load static %}

{% block title %}
โปรไฟล์
{% endblock %}

{% block background_style %}
background-color: rgba(0, 0, 0);
{% endblock %}

{% block styles %}
<style>
.disabled {
    opacity: 0.5;
    transition: opacity 0.8s ease-in;
}

.img-thumbnail {
    border: 0;
}


</style>
{% endblock %}



{% block content %}      
    <!--User profile-->
    <div class="container my-4">
        <div class="bg-light rounded-5 shadow-sm p-4" id ="profile_bg">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            {% if user_profile.profile_picture %}
                                <img src="{{ user_profile.profile_picture.url }}" alt="Profile Picture" class="rounded-circle" style="width: 150px;">
                            {% else %}
                                <img src="{% static 'images/icon_accout.png' %}" alt="Default Profile Picture" class="rounded-circle" style="width: 150px;">
                            {% endif %}
                            <h5 class="my-3">{{ user_profile.user.username }}</h5>
                            <div class="d-flex justify-content-center mb-2">

                                {% if user.id == user_profile.user.id %}
                                    <a class="btn btn-outline-success mx-3 btn-lg " href="{% url 'search_posts' %}">ค้นหา</a>
                                    
                                    <button type="button" class="btn btn-outline-primary ms-1" data-bs-toggle="modal" data-bs-target="#editProfileModal">
                                        แก้ไขโปรไฟล์
                                    </button>

                                {% endif %}
                                <a class="btn btn-outline-info btn-lg mx-3" href="{% url 'post_history' user_profile.id %}">ดูประวัติ</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <!-- Display user info here -->
                            <div class="row">
                                <div class="col-sm-4">
                                    <p class="mb-0">ชื่อ</p>
                                </div>
                                <div class="col-sm-8">
                                    <p class="text-muted mb-0">{{ user_profile.user.first_name }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-4">
                                    <p class="mb-0">นามสกุล</p>
                                </div>
                                <div class="col-sm-8">
                                    <p class="text-muted mb-0">{{ user_profile.user.last_name }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-4">
                                    <p class="mb-0">อีเมล</p>
                                </div>
                                <div class="col-sm-8">
                                    <p class="text-muted mb-0">{{ user_profile.user.email }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-4">
                                    <p class="mb-0">เบอร์โทรศัพท์</p>
                                </div>
                                <div class="col-sm-8">
                                    <p class="text-muted mb-0">0{{ user_profile.phone_number }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-4">
                                    <p class="mb-0">หอพักของคุณ</p>
                                </div>
                                <div class="col-sm-8">
                                    <p class="text-muted mb-0">{{ user_profile.dorm }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-4">
                                    <p class="mb-0">รหัสประจำตัวนักศึกษา</p>
                                </div>
                                <div class="col-sm-8">
                                    <p class="text-muted mb-0">{{ user_profile.student_ID }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            {% if user.id == user_profile.user.id %}
                <div class="text-center col-12">
                    <div class="mb-4" id = "profile_text">
                        <h5>เลือกบทบาทของคุณ</h5>
                    </div>
                    
                    <div class="row justify-content-center">
                        <!-- Giver -->
                        <div class="col-lg-5 col-md-6 col-sm-8 mb-3 mx-4" id="profile_text">
                            <a href="{% url 'giver' %}">
                                <figure class="d-block h-100 text-center" data-url="{% url 'giver' %}" onclick="selectRole(this)">
                                    <img class="img-fluid img-thumbnail bg-primary" src="{% static 'images/package.png' %}" alt="Giver">
                                    <figcaption class="fs-5 mt-3">ผู้บริจาค</figcaption>
                                </figure>
                            </a>
                        </div>

                        <!-- Receiver -->
                        <div class="col-lg-5 col-md-6 col-sm-8 mb-3 mx-4" id="profile_text">
                            <a href="{% url 'receiver' %}">
                                <figure class="d-block h-100 text-center" data-url="{% url 'receiver' %}" onclick="selectRole(this)">
                                    <img class="img-fluid img-thumbnail bg-warning" src="{% static 'images/receiver.png' %}" alt="Receiver">
                                    <figcaption class="fs-5 mt-3">ผู้รับบริจาค</figcaption>
                                </figure>
                            </a>
                        </div>
                        
                    </div>
                </div>
            {% endif %}
    
            <!-- Logout Button -->
        {% if user_profile.user.id == user.id %}
            <form action="{% url 'logout' %}" method="post" class="mb-4 text-center text-lg-end">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-lg text-white">ออกจากระบบ</button>
            </form>
        {% else %}
            <div class="text-center text-lg-end text-white">
                <a href="javascript:history.back()" class="btn btn-secondary btn-lg text-white">ย้อนกลับ</a>
            </div>
        {% endif %}
    </div>
</div>

    
    
<!-- Modal -->
<div class="modal fade" id="editProfileModal" tabindex="-1" aria-labelledby="editProfileModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editProfileModalLabel">แก้ไขโปรไฟล์</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="{% url 'edit_profile' %}" enctype="multipart/form-data">
                    {% csrf_token %}

                    <!-- Profile Picture Upload Section -->
                    <div class="mb-3">
                        <label for="profile_picture" class="form-label">รูปโปรไฟล์</label>
                        <div class="upload-area" style="border: 2px dotted #007bff; padding: 20px; text-align: center;">
                            <input type="file" name="profile_picture" id="profile_picture" accept="image/*" style="display: none;" onchange="previewImage(event)">
                            <img id="profileImagePreview" 
                                 src="{% if user_profile.profile_picture %}{{ user_profile.profile_picture.url }}{% else %}{% static 'images/icon_account.png' %}{% endif %}" 
                                 alt="Profile Picture" style="max-width: 50%; height: auto; border-radius: 50%;">
                            <label for="profile_picture" style="cursor: pointer; display: block; margin-top: 10px;">คลิกที่นี่เพื่ออัปโหลดรูปภาพ</label>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="username" class="form-label">ชื่อผู้ใช้</label>
                        <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="firstName" class="form-label">ชื่อ</label>
                        <input type="text" class="form-control" id="firstName" name="first_name" value="{{ user.first_name }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="lastName" class="form-label">นามสกุล</label>
                        <input type="text" class="form-control" id="lastName" name="last_name" value="{{ user.last_name }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">อีเมล</label>
                        <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="phone" class="form-label">เบอร์โทรศัพท์</label>
                        <input type="text" class="form-control" id="phone" name="phone_number" value="{{ user_profile.phone_number }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="dorm" class="form-label">หอพักของคุณ</label>
                        <input type="text" class="form-control" id="dorm" name="dorm" value="{{ user_profile.dorm }}" required>
                    </div>
                    <div class="mb-3">
                        <label for="studentID" class="form-label">รหัสประจำตัวนักศึกษา</label>
                        <input type="text" class="form-control" id="studentID" name="student_ID" value="{{ user_profile.student_ID }}" required>
                    </div>

                    <div class="text-end"> <!-- Aligns the button to the right -->
                        <button type="submit" class="btn btn-primary">บันทึกการเปลี่ยนแปลง</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block script %}
<script>
    
function previewImage(event) {
    const file = event.target.files[0];
    const reader = new FileReader();
    reader.onload = function(e) {
        document.getElementById('profileImagePreview').src = e.target.result;
    }
    reader.readAsDataURL(file);
}


function toggleEditProfile() {
    const profileView = document.getElementById('profile-view');
    const editProfile = document.getElementById('edit-profile');

    if (profileView.style.display === 'none') {
        profileView.style.display = 'block';
        editProfile.style.display = 'none';
    } else {
        profileView.style.display = 'none';
        editProfile.style.display = 'block';
    }
}


</script>
{% endblock %}
