{% extends 'myweb/base.html' %}

{% load static %}

{% block title %}
โปรไฟล์
{% endblock %}

{% block background_style %}
background-color: rgba(0, 0, 0);
{% endblock %}

{% block styles %}
<!-- Add more CSS here -->
 <style>
.clicked {
    opacity: 0.5;
    transition: opacity 0.7s ease-in;
}

.unclicked {
    opacity: 1;
    transition: opacity 0.7s ease-out;
}

.active {
    opacity: 1;
    transition: opacity 0.8s ease-in;

}

.disabled {
    opacity: 0.5;
    transition: opacity 0.8s ease-in;
}</style>


{% endblock %}

{% block content %}      
    <div class="container my-4">
        <div class="bg-light rounded-5 shadow-sm p-4">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <img src="{% static 'images/icon_accout.png' %}" alt="avatar" class="rounded-circle img-fluid" style="width: 150px;">
                            <h5 class="my-3">{{ user.first_name }} {{ user.last_name }}</h5>
                            <div class="d-flex justify-content-center mb-2">
                                <a href="#" class="btn btn-outline-primary ms-1">แก้ไขโปรไฟล์</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <p class="mb-0">ชื่อ</p>
                                </div>
                                <div class="col-sm-8">
                                    <p class="text-muted mb-0">{{ user.first_name }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-4">
                                    <p class="mb-0">นามสกุล</p>
                                </div>
                                <div class="col-sm-8">
                                    <p class="text-muted mb-0">{{ user.last_name }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-4">
                                    <p class="mb-0">อีเมล</p>
                                </div>
                                <div class="col-sm-8">
                                    <p class="text-muted mb-0">{{ user.email }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-4">
                                    <p class="mb-0">เบอร์โทรศัพท์</p>
                                </div>
                                <div class="col-sm-8">
                                    <p class="text-muted mb-0">0{{ user_profile.phone_number }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-4">
                                    <p class="mb-0">หอพักของคุณ</p>
                                </div>
                                <div class="col-sm-8">
                                    <p class="text-muted mb-0">{{ user_profile.dorm }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-4">
                                    <p class="mb-0">รหัสประจำตัวนักศึกษา</p>
                                </div>
                                <div class="col-sm-8">
                                    <p class="text-muted mb-0">{{ user_profile.student_ID }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center col-12">
                <div class="mb-4">
                    <h5>เลือกบทบาทของคุณ</h5>
                </div>
                
                <div class="row justify-content-center">
                    <!-- Giver -->
                    <div class="col-lg-5 col-md-6 col-sm-8 mb-3">
                        <figure class="d-block h-100" data-url="{% url 'giver' %}" onclick="selectRole(this)">
                            <img class="img-fluid img-thumbnail large-image" src="{% static 'images/sofa.png' %}" alt="Giver">
                            <figcaption class="text-dark text-center fs-5 mt-3">ผู้ให้</figcaption>
                        </figure>
                    </div>

                    <!-- Receiver -->
                    <div class="col-lg-5 col-md-6 col-sm-8 mb-3">
                        <figure class="d-block h-100" data-url="{% url 'receiver' %}" onclick="selectRole(this)">
                            <img class="img-fluid img-thumbnail large-image" src="{% static 'images/sofa.png' %}" alt="Receiver">
                            <figcaption class="text-dark text-center fs-5 mt-3">ผู้รับ</figcaption>
                        </figure>
                    </div>
                </div>

                <!-- Button -->
                <div class="text-center">
                    <a href="" id="nextButton" class="btn btn-primary btn-lg disabled mb-2 mt-1 fs-4" onclick="handleNextButtonClick(event)">เริ่มต้นกระบวนการ</a>
                </div>

                <!-- Logout Button -->
                <div class="mb-4">
                    <a href="{% url 'logout' %}" class="btn btn-danger btn-lg">ออกจากระบบ</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
<script>
alert("yeah")
function selectRole(figureElement) {
    const button = document.getElementById('nextButton');

    // Get the URL of the clicked figure
    const newUrl = figureElement.getAttribute('data-url');

    // Check if the clicked figure is already selected
    const isAlreadyClicked = figureElement.classList.contains('clicked');

    // Remove the clicked class from all figures and add unclicked class
    const figures = document.querySelectorAll('figure');
    figures.forEach((figure) => {
        figure.classList.remove('clicked');
        figure.classList.add('unclicked');
    });
    button.classList.remove("disabled")
    button.classList.add("active")


    // If it was already clicked, reset the button URL
    if (isAlreadyClicked) {
        button.href = ''; // Reset the button URL
        button.classList.remove("active")
        button.classList.add("disabled")
        return; // Exit the function
    }

    // Set the href of the button to the new URL and add the clicked class to the current figure
    button.href = newUrl;
    figureElement.classList.remove('unclicked'); // Remove unclicked state for the new selection
    figureElement.classList.add('clicked'); // Add clicked class to the currently selected figure

}




</script>
{% endblock %}