{% extends 'myweb/base.html' %}

{% load static %}

{% block title %}
Register
{% endblock %}

{% block background_style %}
background-color: rgba(128, 128, 128, 0.5);
{% endblock %}

{% block content %}
<section class="vh-100">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">ลงทะเบียน</h2>
                            <div class="text-center mb-4">
                                <img src="{% static 'images/icon_accout.png' %}" class="rounded-circle" style="width: 100px; height: 100px; object-fit: cover;">
                            </div>
                            <form>

                                <div data-mdb-input-init class="form-outline mb-4">
                                    <label class="form-label" for="form3Example1cg">ชื่อผู้ใช้</label>
                                    <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
                                </div>

                                <div data-mdb-input-init class="form-outline mb-4">
                                    <label class="form-label" for="form3Example1cg">ชื่อ</label>
                                    <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
                                </div>

                                <div data-mdb-input-init class="form-outline mb-4">
                                    <label class="form-label" for="form3Example1cg">นามสกุล</label>
                                    <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
                                </div>

                                <div data-mdb-input-init class="form-outline mb-4">
                                    <label class="form-label" for="form3Example1cg">ชื่อเล่น</label>
                                    <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
                                </div>

                                <div data-mdb-input-init class="form-outline mb-4">
                                    <label class="form-label" for="form3Example1cg">ที่อยู่หอพักของท่าน</label>
                                    <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
                                </div>

                                <div data-mdb-input-init class="form-outline mb-4">
                                    <label class="form-label" for="form3Example1cg">รหัสนักศึกษา</label>
                                    <input type="number" id="form3Example1cg" class="form-control form-control-lg" />
                                </div>

                                <div data-mdb-input-init class="form-outline mb-4">                    
                                    <label class="form-label" for="form3Example3cg">อีเมล</label>
                                    <input type="password" id="form3Example3cg" class="form-control form-control-lg" />
                                </div>

                                <div data-mdb-input-init class="form-outline mb-4">                    
                                    <label class="form-label" for="form3Example3cg">รหัสผ่าน</label>
                                    <input type="password" id="form3Example3cg" class="form-control form-control-lg" />
                                </div>

                                <a href="{% url 'select-prefer' %}" class="btn btn-primary btn-block btn-lg gradient-custom-4 text-white" data-mdb-button-init data-mdb-ripple-init>ต่อไป</a>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
