{% extends 'myweb/base.html' %}

{% block title %}ค้นหาประกาศ{% endblock %}

{% load form_tags %}

{% block background_style %}
background-color: rgba(255, 255, 255);
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>ค้นหาโพสต์</h1>
    <form method="get" action="{% url 'search_posts' user_profile.user.id %}">
        <div class="row">
            <div class="col-md-3">
                <input type="text" name="q" placeholder="ชื่อสิ่งของ" class="form-control" value="{{ query }}">
            </div>
            <div class="col-md-3">
                <select name="category" class="form-control">
                    <option value="">ประเภทสิ่งของ</option>
                    {% for cat, cat_label in CATEGORIES %}
                        <option value="{{ cat }}" {% if cat == category %}selected{% endif %}>{{ cat_label }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3">
                <input type="text" name="place" placeholder="สถานที่" class="form-control" value="{{ place }}">
            </div>
            <div class="col-md-3">
                <select name="defect" class="form-control">
                    <option value="">ตำหนิ</option>
                    {% for def, def_label in DEFECT %}
                        <option value="{{ def }}" {% if def == defect %}selected{% endif %}>{{ def_label }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3">ค้นหา</button>
    </form>
</div>
<hr>
<h2 class = "my-4">ผลการค้นหาสำหรับผู้บริจาค</h2>
<div class="row">
    {% for giver_post in giver_posts %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="text-center mt-3 mb-3">
                    <img src="{{ giver_post.stuff_picture.url }}" 
                    alt="Stuff Picture" class="card-img-top" style="width: 200px;">
                </div>
                <div class="card-body">
                    <p class="card-text"><strong>ชื่อสิ่งของ: </strong>{{ giver_post.stuff_name }}</p>
                    <p class="card-text"><strong>ประเภท:</strong> {{ giver_post.categories }}</p>
                    <p class="card-text"><strong>วันที่โพสต์:</strong> {{ giver_post.created_at|date_thai }}</p>
                    <p class="card-text"><strong>อัพเดตล่าสุด:</strong> {{ giver_post.updated_at|date_thai }}</p>
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-danger mx-1 btn-lg" href="{% url 'send_data_receiver' giver_post.post_ID %}" title="จับคู่โพสต์นี้">จับคู่</a>
                        <button type="button" class="btn btn-dark mx-1" data-bs-toggle="modal" data-bs-target="#detailsModal{{ giver_post.post_ID }}">ดูรายละเอียด</button>
                    </div>
                    <!-- Print post ID for debugging -->
                    <p>Post ID: {{ giver_post.post_ID }}</p>  <!-- Debugging line -->
                </div>
            </div>
        </div>

        <!-- Modal for Details -->
        <div class="modal fade" id="detailsModal{{ giver_post.post_ID }}" tabindex="-1" aria-labelledby="detailsModalLabel{{ giver_post.post_ID }}" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="detailsModalLabel{{ giver_post.id }}">{{ giver_post.stuff_name }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="text-center">
                            <img src="{{ giver_post.stuff_picture.url }}" alt="Stuff Picture" class="img-fluid" style="width: 25%;">
                        </div>
                        <p class="mt-5"><strong>ประเภท:</strong> {{ giver_post.categories }}</p>
                        <p><strong>สถานที่:</strong> {{ giver_post.place }}</p>
                        <p><strong>ตำหนิ:</strong> {{ giver_post.defect }}</p>
                        <p><strong>รายละเอียด:</strong> {{ giver_post.description }}</p>
                        <p><strong>วันที่โพสต์:</strong> {{ giver_post.created_at|date_thai }}</p>
                        <p><strong>อัพเดตล่าสุด:</strong> {{ giver_post.updated_at|date_thai }}</p>
                        <!-- Print post ID in the modal for debugging -->
                        <p>Modal ID: {{ giver_post.post_ID }}</p>  <!-- Debugging line -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
                    </div>
                </div>
            </div>
        </div>

    {% empty %}
        <p>ไม่พบประกาศที่ตรงกับการค้นหาของคุณ</p>
    {% endfor %}
</div>
<hr>

<h2 class = "my-4">ผลการค้นหาสำหรับผู้รับบริจาค</h2>
<div class="row">
    {% for receiver_post in receiver_posts %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <p class="card-text"><strong>ชื่อสิ่งของ </strong>{{ receiver_post.stuff_name }}</p>
                    <p class="card-text"><strong>ประเภท:</strong> {{ receiver_post.categories }}</p>
                    <p class="card-text"><strong>วันที่โพสต์:</strong> {{ receiver_post.created_at|date_thai }}</p>
                    <p class="card-text"><strong>อัพเดตล่าสุด:</strong> {{ receiver_post.updated_at|date_thai }}</p>
                    <div class="d-flex justify-content-center">
                        <a class="btn btn-danger mx-1 btn-lg" href="{% url 'send_data_giver' receiver_post.post_ID %}" title="จับคู่โพสต์นี้">จับคู่</a>
                        <button type="button" class="btn btn-dark mx-1" data-bs-toggle="modal" data-bs-target="#detailsModal{{ receiver_post.post_ID }}">ดูรายละเอียด</button>
                    </div>
                    <!-- Print post ID for debugging -->
                    <p>Post ID: {{ receiver_post.post_ID }}</p>  <!-- Debugging line -->
                </div>
            </div>
        </div>

        <!-- Modal for Details -->
        <div class="modal fade" id="detailsModal{{ receiver_post.post_ID }}" tabindex="-1" aria-labelledby="detailsModalLabel{{ receiver_post.post_ID }}" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="detailsModalLabel{{ receiver_post.id }}">{{ receiver_post.stuff_name }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p><strong>ประเภท:</strong> {{ receiver_post.categories }}</p>
                        <p><strong>สถานที่:</strong> {{ receiver_post.place }}</p>
                        <p><strong>ตำหนิ:</strong> {{ receiver_post.defect }}</p>
                        <p><strong>รายละเอียด:</strong> {{ receiver_post.description }}</p>
                        <p><strong>วันที่โพสต์:</strong> {{ receiver_post.created_at|date_thai }}</p>
                        <p><strong>อัพเดตล่าสุด:</strong> {{ receiver_post.updated_at|date_thai }}</p>
                        <!-- Print post ID in the modal for debugging -->
                        <p>Modal ID: {{ receiver_post.post_ID }}</p>  <!-- Debugging line -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ปิด</button>
                    </div>
                </div>
            </div>
        </div>
    {% empty %}
        <p>ไม่พบประกาศที่ตรงกับการค้นหาของคุณ</p>
    {% endfor %}
</div>
<div class="mt-5 mb-4 text-end">
    <a href="{% url 'profile' request.user.profile.id %}" class="btn btn-secondary">กลับไปที่โปรไฟล์</a>
</div>
{% endblock %}
