{% extends 'myweb/base.html' %}

{% load static %} 

{% block title %}
เลือกสิ่งที่คุณชอบ
{% endblock %}

{% block background_style %}
background-color: rgba(0, 0, 0);
{% endblock %}

{% block content %}

    <h1 class="fw-light text-center text-light mt-4 mb-0">เลือกประเภทสิ่งของที่คุณสนใจ</h1>

    <hr class="mt-1 mb-3">

    <!-- First row (3 columns) -->
    <div class="row text-center text-lg-start">
        <div class="col-lg-4 col-md-4 col-12">
            <figure class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="{% static 'images/sofa.png' %}" alt="">
                <figcaption class="text-light text-center">ข้อความที่ 1</figcaption>
            </figure>
        </div>

        <div class="col-lg-4 col-md-4 col-12">
            <figure class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="{% static 'images/sofa.png' %}" alt="">
                <figcaption class="text-light text-center">ข้อความที่ 2</figcaption>
            </figure>
        </div>

        <div class="col-lg-4 col-md-4 col-12">
            <figure class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="{% static 'images/sofa.png' %}" alt="">
                <figcaption class="text-light text-center">ข้อความที่ 3</figcaption>
            </figure>
        </div>
    </div>

    <!-- Second row (3 columns) -->
    <div class="row text-center text-lg-start">
        <div class="col-lg-4 col-md-4 col-12">
            <figure class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="{% static 'images/sofa.png' %}" alt="">
                <figcaption class="text-light text-center">ข้อความที่ 4</figcaption>
            </figure>
        </div>

        <div class="col-lg-4 col-md-4 col-12">
            <figure class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="{% static 'images/sofa.png' %}" alt="">
                <figcaption class="text-light text-center">ข้อความที่ 5</figcaption>
            </figure>
        </div>

        <div class="col-lg-4 col-md-4 col-12">
            <figure class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" src="{% static 'images/sofa.png' %}" alt="">
                <figcaption class="text-light text-center">ข้อความที่ 6</figcaption>
            </figure>
        </div>
    </div>

    <!-- Button placed below content with margin -->
    <div class="text-center mb-4">
        <a href="{% url "login" %}" class="btn btn-primary fs-5">เสร็จสิ้น</a>
    </div>

</div>
{% endblock %}
