{% extends 'myweb/base.html' %}

{% load static %}

{% block title %}
คู่มือการใช้งานระบบจับคู่
{% endblock %}

{% block background_style %}
background-color: rgba(0, 0, 0);
{% endblock %}

{% block styles %}
<!-- Add any additional styles here if needed -->
{% endblock %}

{% block content %}
<div class="container mt-5 vh-50">
    <h2 class="text-center">คลิปคู่มือการใช้งานระบบการจับคู่</h2>
    <p class="text-center">ยินดีต้อนรับสู่คู่มือการจับคู่ของระบบโดยเราจะแบ่งออกเป็น 3 คลิปวีดีโอด้วยกัน</p>
    <h4>1.</h4>

</div>
{% endblock %}

